<p>Angular Task (Sign In)</p>
<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="login">
        <div *ngIf="_login?.invalid && (_login?.dirty || _login?.touched)">
            <span *ngIf="_login?.errors?.required">Login Required</span>
        </div>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="text" formControlName="password">
        <div *ngIf="_password?.invalid && (_password?.dirty || _password?.touched)">
            <span *ngIf="_password?.errors?.required">Password Required</span>
        </div>
    </div>
    <a routerLink="/sign-up">No account?</a>
    <button type="submit" [disabled]="!_password?.valid || !_login?.valid">Sign In</button>
</form>